html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 140px;
}

html, body {
    font-size: 16px;
}

.content-body{
    margin-bottom: 40px;
}

.menu-top{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-side, .product-layout{
    padding-top: 35px;
}

.menu-side-mobile{
    background-color: transparent !important;
    color: inherit !important;
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dragable_item{
	cursor: move;
}

.page-header{
    padding-bottom: 5px;
}

.cart-contents-title{
    font-size: 18px;
    font-weight: 700;
}

.cart-row{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.cart-item-row{
    margin-top: 5px;
}

.cart-link{
    padding-left: 7px;
}

.cart-delete-button{
    color: #d9534f;
    cursor: pointer;
    padding-left: 5px;
}

a.text-danger:hover, a.text-danger:focus {
    color: #cc3a2c;
}

.cart-update-button{
    cursor: pointer;
}

.thumbnail-image{
    cursor: pointer;
}

#product-images{
    margin-bottom: 30px;
}

.product-layout{
    padding-top: 30px;
}

.product-title-image{
    margin: auto;
    max-height: 400px;
    width: auto;
}

.thumbnail-image-container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.navbar-brand>img {
    width: auto;
    height: 100%;
}

.thumbnail{
    min-height: 415px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.title-image-container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
    margin: auto;
}

.title-image-container{
    height: 400px;
}

.thumbnail-image-container {
    height: 350px;
}

.product-title{
    font-size: 20px;
    margin-top: 0px;
}

.product-title-home{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.product-price{
    padding-bottom: 10px;
    font-size: 26px;
    color: rgb(41, 5, 5);
}

.productOptions{
    padding-bottom: 15px;
}

.product-option{
    font-size: 18px;
}

.btnAddToCart, .body_text{
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-option-text{
    font-size: 16px;
    color: #AAAAAA;
    padding-bottom: 10px;
    padding-top: 10px;
}

.seporator{
    padding-top: 5px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 6px;
}

.list-group-input-pad select{
    margin-top: -7px;
}

.no-pad-left{
    padding-left: 0px;
}

.no-pad-right{
    padding-right: 0px;
}

.top-pad-10{
    padding-top: 10px;
}

.top-pad-20{
    padding-top: 20px;
}

.bottom-pad-20{
    padding-bottom: 20px;
}

.left-pad-30{
    padding-left: 30px;
}

.shipping-form input{
    margin-bottom: 15px;
}

#header {        
    height: 50px;
}

.search-bar{
    margin-top: 10px;
}

.searchMenuLocation-side{
    padding-left: 25px;
    padding-right: 25px;
}
.searchMenuLocation-top{
    padding-left: 5px;
    padding-right: 5px;
}

.breadcrumbProPerRow-3{
    margin-left: 10px;
    margin-right: 10px;
}

.searchProPerRow-3, .searchProPerRow-4{
    padding-left: 0;
    padding-right: 0;
}

.dropup-button{
    height: 34px;
    padding: 0px;
    color: white !important;
}

.dropdown-menu>li>a{
    padding-top: 5px !important;
    
}

.pad-bottom{
    padding-bottom: 25px;
}

.keywords{
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 19px;
}

.customer-details{
    padding-left: 0px;
    padding-right: 0px;
}

.file-form{
    padding-left: 15px;
    padding-right: 15px;
}

.editor_btn_action{
    border-top-left-radius: 4px !important; 
    border-bottom-left-radius: 4px !important;
}

.dropup-list{
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#notify_message{
    position: fixed;
    display: none;
    z-index: 9999;
    padding-top: 10px;
    height: 50px;
    bottom: 0px; 
    width: 100%; 
    text-align: center;
    font-size: 22px;
    color: white;
}

.input-group .form-control {
    z-index: 1;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.offcanvas-element{
    z-index: 100;
    background-color: #ffffff;
}

.product-item{
    padding-left: 0px;
    padding-right: 0px;
}

input:focus {
    outline: none;
    background: #fbfbe9;
}

input + label {
    display: block;
    cursor: text;
    transition: .15s ease-out all;
    position: absolute;
    top: .9em;
    left: 1.3em;
}

.floatLabel{
    top: .1em;
    left: 32px;
    font-size: .7em;
    color: #999999;
    font-weight: normal;
    transition: .15s ease-out all;
}

input.form-control.customerDetails{
    padding-bottom: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    background-color: #f5f5f5;
}

.admin{
    margin-bottom: 0;
}

.image-next{
    position: absolute;
    top: 180px; 
    right: 0px;
}

.image-prev{
    position: absolute;
    top: 180px; 
    left: 0px;
}

.image-button{
    cursor: pointer;
    opacity: 0.7;
}

.image-button-show{
    cursor: pointer;
    opacity: 0.7 !important;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #000000;
}

.alert-success{
    background-color: #000000;
    opacity: 0.65;
}

.btn-danger, .btn-warning, .btn-primary {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.btn-warning:hover, .btn-danger:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
    opacity: 0.65;
}

a:hover, a:focus {
    color: #000000;
}
a {
    color: #000000;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #000000;
    border-color: #000000;
}

.navbar-default .navbar-brand {
    color: #000000; 
    font-size: 40px;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000000;
}

.navbar-brand-image {
    padding: 0px;
    height: 70px;
}

.navbar-default .badge {
    background-color: #000000;
    color: #fff;
}

.navbar-default .navbar-toggle {
    background-color: #000000;
    border-color: #000000;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: #000000;
}

.pagination>li>a, .pagination>li>span {
    background-color: #000000;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #000000;
    opacity: 0.65;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    background-color: #000000;
    opacity: 0.65;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

.thumbnail {
    border: none;
}

.help-block{
    color: #95a5a6;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0px; 
    border-top-right-radius: 0px; 
}

@media only screen and (min-width: 768px){
    .pushy {
        width: 700px;
    }
    .pushy-right {
        -webkit-transform: translate3d(700px, 0, 0);
        -ms-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0);
    }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-700px, 0, 0);
        -ms-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0);
    }
}
@media only screen and (max-width: 1100px){
.product-title-home{
    font-size: 16px; 
}
}

@media only screen and (max-width: 768px){
    .product-title-home{
        font-size: 14px;   
    }
    .product-title-home {
        padding: 0 5px;
    }
    .pushy {
        width: calc(100%);
    }
    .pushy-right {
        -webkit-transform: translate3d(calc(100%), 0, 0);
        -ms-transform: translate3d(calc(100%), 0, 0);
        transform: translate3d(calc(100%), 0, 0);
    }

    .pushy-open-right #container,
    .pushy-open-right .push {
        -webkit-transform: translate3d(-calc(100%), 0, 0);
        -ms-transform: translate3d(-calc(100%), 0, 0);
        transform: translate3d(-calc(100%), 0, 0);
    }

    .product-item{
        padding-left: 0px;
        padding-right: 0px;
    }

    .showFooter{
        margin-bottom: 220px;
    }

    .title-image-container{
        height: auto;
    }

    .product-title{
        padding-top: 25px;
        min-height: auto;
    }

    .search-bar-input{
        padding-left: 0;
        padding-right: 0;
    }

    .menu-side {
        padding-top: 15px;
    }

    .product-layout{
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #btn_search{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .cart-row{
        padding-top: 10px;
        border-bottom: 1px solid #ecf0f1;
        display: block;
    }

    .cart-body{
        padding-top: 0px;
    }

    .cart-contents-shipping{
        padding-top: 10px;
    }

    #cart{
        padding-bottom: 15px;
    }

    .footer {
        height: 100px;
    }

    body{
        margin-bottom: 100px;
    }
}

.m-a-0 {
    margin: 0 !important;
  }
  
  .m-t-0 {
    margin-top: 0 !important;
  }
  
  .m-r-0 {
    margin-right: 0 !important;
  }
  
  .m-b-0 {
    margin-bottom: 0 !important;
  }
  
  .m-l-0 {
    margin-left: 0 !important;
  }
  
  .m-x-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
  .m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .m-a {
    margin: 12px !important;
  }
  
  .m-t {
    margin-top: 12px !important;
  }
  
  .m-r {
    margin-right: 12px !important;
  }
  
  .m-b {
    margin-bottom: 12px !important;
  }
  
  .m-l {
    margin-left: 12px !important;
  }
  
  .m-x {
    margin-right: 12px !important;
    margin-left: 12px !important;
  }
  
  .m-y {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
  
  .m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  
  .p-a-0 {
    padding: 0 !important;
  }
  
  .p-t-0 {
    padding-top: 0 !important;
  }
  
  .p-r-0 {
    padding-right: 0 !important;
  }
  
  .p-b-0 {
    padding-bottom: 0 !important;
  }
  
  .p-l-0 {
    padding-left: 0 !important;
  }
  
  .p-x-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .p-a {
    padding: 12px !important;
  }
  
  .p-t {
    padding-top: 12px !important;
  }
  
  .p-r {
    padding-right: 12px !important;
  }
  
  .p-b {
    padding-bottom: 12px !important;
  }
  
  .p-l {
    padding-left: 12px !important;
  }
  
  .p-x {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
  
  .p-y {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .text-right {
    text-align: right !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  @media (min-width: 480px) {
    .text-xs-left {
      text-align: left !important;
    }
  
    .text-xs-right {
      text-align: right !important;
    }
  
    .text-xs-center {
      text-align: center !important;
    }
  }
  @media (min-width: 768px) {
    .text-sm-left {
      text-align: left !important;
    }
  
    .text-sm-right {
      text-align: right !important;
    }
  
    .text-sm-center {
      text-align: center !important;
    }
  }
  @media (min-width: 992px) {
    .text-md-left {
      text-align: left !important;
    }
  
    .text-md-right {
      text-align: right !important;
    }
  
    .text-md-center {
      text-align: center !important;
    }
  }
  @media (min-width: 1200px) {
    .text-lg-left {
      text-align: left !important;
    }
  
    .text-lg-right {
      text-align: right !important;
    }
  
    .text-lg-center {
      text-align: center !important;
    }
  }
  .w-full {
    width: 100% !important;
  }
  
  .bg-color-white {
    background-color: #eee !important;
  }
  
  .bg-color-black {
    background-color: #1a1a1a !important;
  }
  
  .bg-color-white-secondary {
    background-color: #e1e1e1 !important;
  }
  
  .bg-color-black-secondary {
    background-color: #272727 !important;
  }
  
  .text-color-white {
    color: #eee !important;
  }
  
  .text-color-black {
    color: #1a1a1a !important;
  }
  
  .curved {
    border-radius: 4px !important;
  }
  
  .rounded {
    border-radius: 100px !important;
  }
  
  .l24-bar {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 24px;
    margin-bottom: 5px;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.09, 0.68, 0, 0.99);
    z-index: 2000;
  }
  .l24-bar:before, .l24-bar:after {
    content: '';
    display: table;
  }
  .l24-bar:after {
    clear: both;
  }
  
  .l24-bar--pos-fixed-top,
  .l24-bar--pos-fixed-bottom {
    position: fixed;
    margin-bottom: 0;
    z-index: 2010;
  }
  
  .l24-bar--pos-fixed-top {
    top: 0;
    left: 0;
  }
  
  .l24-bar--pos-fixed-bottom {
    bottom: 0;
    left: 0;
  }
  
  .l24-bar--visual-footer {
    margin-top: 24px;
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .l24-bar--visual-brand-focus .l24-bar__brand {
      flex: 1 1 auto;
    }
  }
  @media (min-width: 768px) {
    .l24-bar--visual-brand-focus .l24-bar__collapse {
      order: -1;
      flex: 0 1 auto;
    }
  }
  
  .l24-bar__brand,
  .l24-bar__collapse,
  .l24-bar__utilities,
  .l24-bar__toggle {
    margin: 4px;
    transition: all 0.3s;
  }
  
  .l24-bar__utilities--visual-wide {
    flex: 1 1 auto;
  }
  
  .l24-bar__brand {
    flex: 1 1 auto;
    font-size: 24px;
    line-height: 1.3333333;
    overflow: hidden;
  }
  .l24-bar__brand a {
    display: inline-block;
  }
  .l24-bar__brand a:link, .l24-bar__brand a:visited, .l24-bar__brand a:hover, .l24-bar__brand a:active, .l24-bar__brand a:focus {
    color: inherit;
    text-decoration: none;
  }
  .l24-bar__brand img {
    max-width: 150px;
    width: 100%;
    height: auto;
    vertical-align: initial;
  }
  @media (min-width: 768px) {
    .l24-bar__brand {
      flex: 0 1 auto;
    }
  }
  
  @media (min-width: 768px) {
    .l24-bar__toggle {
      display: none;
    }
  }
  
  .l24-bar__collapse {
    display: none;
    margin: 0;
    flex: 1 1 100%;
    order: 99;
    transition: padding 0.3s;
    border-top: 1px solid rgba(204, 204, 204, 0.4);
  }
  @media (min-width: 768px) {
    .l24-bar__collapse {
      display: block !important;
      height: auto !important;      
      flex: 2 0 auto;
      order: 0;
      border-top: 0;            
      background-image: linear-gradient(to right top, #967bb6, #966dc8, #955eda, #934cec, #9034fd);
      color: #f5f5f5;
      box-shadow: 0 6px 3px rgba(150,123,182,0.3);  
      margin-bottom: 20px;    
    }
    .l24-link {
        line-height: 40px;
        font-size: 20px;
    } 
    .container-fluid {
        padding: 0px;
    }
    span.badge.new {
        margin-left: 5px;
    }
  }
  .no-js .l24-bar__collapse, .l24-bar__collapse.l24-bar__collapse--state-open {
    display: block;
  }
  .l24-bar--pos-fixed-top .l24-bar__collapse, .l24-bar--pos-fixed-bottom .l24-bar__collapse {
    max-height: 340px;
    overflow-y: auto;
  }
  @media (max-device-width: 480px) and (orientation: landscape) {
    .l24-bar--pos-fixed-top .l24-bar__collapse, .l24-bar--pos-fixed-bottom .l24-bar__collapse {
      max-height: 200px;
    }
  }
  @media (min-width: 768px) {
    .l24-bar--pos-fixed-top .l24-bar__collapse, .l24-bar--pos-fixed-bottom .l24-bar__collapse {
      overflow-y: visible;
    }
  }
  
  .l24-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  @media (max-width: 767px) {
    .l24-list--visual-collapsible > .l24-list__item {
      display: list-item;
      padding: 0;
    }
    .l24-list--visual-collapsible > .l24-list__item:hover {
      background-color: rgba(204, 204, 204, 0.2);
    }
    .l24-list--visual-collapsible .l24-link {
      display: block;
      width: 100%;
      padding: 8px;      
    }
    .l24-link {
        font-size: 14px;
    }
    .l24-list--visual-collapsible .l24-link:hover, .l24-list--visual-collapsible .l24-link:active, .l24-list--visual-collapsible .l24-link:focus {
      opacity: 1;
    }
    .l24-bar__brand img {
        width: 100px;
    }
  }
  
  .l24-list__item {
    display: inline-block;
    padding: 4px 5px;
    transition: all 0.3s;
  }
  .l24-list__item:first-child {
    margin: 0;
  }
  
  .l24-link:link, .l24-link:visited, .l24-link:hover, .l24-link:active, .l24-link:focus {
    color: inherit;
    transition: all 0.3s;
    text-decoration: none;
  }
  .l24-link[disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
  
  .l24-link--effect-alpha:hover, .l24-link--effect-alpha:active, .l24-link--effect-alpha:focus {
    opacity: .6;
  }
  .well {
    margin-bottom: 0px;
    color: #F5F5DC;
    background-color: #26a69a;        
  }  
  .l24-bar--visual-footer {
    border-top: 1px solid grey;
  }