<div class="l24-bar__collapse" id="collapse-1">
    <div class="text-center">
        <ul class="l24-list l24-list--visual-collapsible">
            <li class="l24-list__item"><a class="l24-link l24-link--effect-alpha" href="/">Products</a></li>
            {{#each menu.items}}
            <li class="l24-list__item" {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                {{#menuMatch this.title @root.title}}{{/menuMatch}}><a class="l24-link l24-link--effect-alpha"
                    href="{{this.link}}">{{this.title}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>